body
{
background-color:#64bfed;
}


div.a{
  background:rgb(255,230,0,0.5) ;
  padding: 20px;
 display:none;
  
}

h2.h1:hover+ div.a{
display:block;
}

h2{
background-color:#a9de6d;
}

h2::first-letter{
color:blue;
}


div.b{
background-color:yellow;
oapcity:0.1;
padding: 20px;
display:none;
}

h2.h2:hover + div.b{
display:block;
}

h2:hover{

text-align:center;
}


div.c:hover{
font-size:large;

}

div.c::selection{
color:red;
background-color:black;


}
img.im{
opacity=0.1;	
}

div.d{
border:10px solid white;
background-image:url("1.jpeg");


}

div.e {
  margin: 20px;
  background-color:white;
  border: 1px solid black;
  opacity: 0.5;
}

p{
color:red;
text-align:center;
}


















