div{
	border:2px solid black;
	margin-bottom:20px;
	padding:5px;
	background-color:#010e63;
}
body{
	background-color:white;
	background-attachment:fixed;
	font-family:"Calibri";
}
ul.nav{
	margin:auto;
	padding:5px;
	list-style-type:none;
	margin-left:450px;
	
}

ul.nav li{
	padding:2px;
	background-color:#cfc1c0;
	width:150px;
	text-align:center;
	float:left;
	text-decoration:none;
	
	
}
a#sk li:hover{
	background-color:#ffa34d;
	
}
a#qu li:hover{
	background-color:#be4dff;
	
}
a#in li:hover{
	background-color:#beff4d;
	
}
a#wo li:hover{
	background-color:#ffe24f;
	
}
a#gal li:hover{
	background-color:#fc4e4e;
	
}
a#ab li:hover{
	background-color:#5978ff;
	
}
	
ul.nav  a li{
	text-decoration:none;
	padding:5px;
	
	font-size:large;
	color:black;
}


div#info{
	background-color:#339E66FF;
	border:none;
	margin:auto;
	transition:box-shadow 3s;
	width:80%;
	overflow:auto;
	
}
#info:hover{
	border:1px inset;
	border-left:none;
	box-shadow:10px 10px #918e86;
}

img#pic{
	width:150px;
	margin-left:35px;
	float:left;
	border-style:ridge;
	border-width:5px;
	
}
h1#name{
	
	font-family:"Calibri";
	display:innline;
	margin-left:220px;
	
} 
div.in{
float:right;
border:none;
margin-top:15px;
margin-right:25px;
width:100%;
height:auto;
overflow:auto;
background-color:#95DBE5FF;
padding:5px;
transition:2s;
border:8px white solid;

}
div.in:hover{
	border:1px solid white; 
	box-shadow:10px 10px;
}
ul#contact{
	float:right;
	list-style-type:none;
}

ul#contact li{
	margin:2px;
}
a{
	text-decoration:none;
}

ul#contact a:hover{
	color:red;
}
img.icon{
	padding-left:10px;
	height:24px;
	width:35px;
}
p.Obj{
	color:#078282FF;
	float:left;
	width:800px;
	margin-left:20px;
}	


table{
	background-color:white;
	
}
th{
	color:Black;
	background-color:#439dde;
	
}
th:hover{
	opacity:0.5;
}

div#quali{
	background-color:#be4dff;
}

div#qualis{
	background-color:#fffaa3;
	border:none;
	padding-bottom:16px;
	width:75%;
	margin:auto;

	
}

p.Obj:hover{
	font-size:large

}

td:clg a:link, td.clg a:visited{
	color:black;
}
td.clg a:hover,td.clg a:active{
	color:red;
}


div#skill{
	width:75%;
	background-color:#ffc7f6;
	margin:auto;
	border:none;
}

ul.out{
	background:white;
	
	font-size:25px;
	margin:10px;
	padding:10px;
	width:75%px;
	
	}


ul.out li{
	margin-left:20px;
	margin-bottom:5px;
	padding:2px;
	font-weight:bold;
}

ul.in li{
	font-weight:normal;
	transition:background-color 1s;
}




ul.star{
float:right;
margin-right:200px;
list-style-type:none;
}

.checked {
  color: orange;
}

ul.in li:hover {
	background-color:#a458f5;
	padding:5px;
	margin-right:5px;
}
ul.in li:hover{
	display:block;
}

a.certi{
	text-decoration:none;
	color:black;
	
}

a.certi:hover{
	text-decoration-style:wavy;
	text-decoration:underline;
	color:white;
}


#rating{
color:white;
float:right;
}




.skill{
	display:inline-block;
	}


.heading{
	background-color:#beff4d;
	border:none;
	width:75%;
	padding:15px;
	
	margin:auto;
	
}

div#internship{
	background-color:#ffa34d;
}
h1#intern{
	
	
	text-shadow:2px 2px white;
	
}


.cmp{
	margin-left:250px;
	background-color:#e3dede;
	border:none;
	width:275px;
	margin-bottom:10px;
	transition:width 1s;
	box-shadow:2px 2px;
	
}
.cmp:hover{
	width:350px;
	
}

#R:hover{
	background-color:red;
	
}
#o:hover{
	background-color:orange;
}
#y:hover{
	background-color:green;
}


.details{
	margin-left:10px;
	color:#e3dede;
	
}
.cmp:hover + .details{
color:white
}
div#learning{
	float:right;
	border:none;
	background-color:#f5d5b5;
	margin-right:350px;
	width:900px;
	display:block;
	margin-bottom:0px;
	box-shadow:2px 2px;
}
#ti{
	text-shadow:2px 2px black;
	color:white;
	font-size:25px;
	margin-top:0px;
	padding:17px;
	background-color:#ab2dbd;
}
#ln li{
	font-size:large;
	padding:2px;
}

div#ab{
	display:none;
	float:right;
	border:none;
	background-color:#f5d5b5;
	margin-right:350px;
	margin-left:0px;
	width:900px;
	box-shadow:2px 2px;
	
}
#g{
	transition: width 0s;
	float:left;
}
#g:hover  {
width:367px;
background-color:#5257ff;

}
div#ab{
background-color:#de5309;
height:60px;i
justify-content:center;
}
p#about{
	font-size:large;
	
}
div#g:hover + div#ab {
display:block;
}

div#Work{
	background-color:#ffe24f;
	
}

div#Workshop{
	background-color:#b5ffff;
	width:75%;
	border:none;
	padding:10px;
	margin:auto;
	
}

div#W_in{
	background-color:#ffc6c2;
	margin:auto;
	width:75%;
	border-color:white;
	box-shadow: 5px 5px;
	margin-bottom:20px;
	}
	
ul#W li{
		padding:5px;
		font-size:large;
	}
	
div#gallery{
	background-color:#fc4e4e;
}
div#container{
	margin:auto;
	
	width:75%;
	overflow:auto;
	
	
}
div.gallery {
  margin-left:55px;
  margin-top:25px;
  border: 1px solid #ccc;
  float: left;
  width:auto;
  overflow:auto;
  background-color:white;
}

div.gallery:hover {
  border: 5px solid white;
}

div.gallery img {
	border:1px solid black;
  width: 275px;
  height: 175px;
}

div.desc {
	margin-top:5px;
  padding: 15px;
  text-align: center;
  background-color:white;
  border:none;
}

div#About{
	background-color:#5978ff;
}

div#A_in{
	width:75%;
	margin:auto;
	border:none;
	background-color:#d1d1cf;
	overflow:auto;

}
#lang{
	float:right;
	margin-right:25px;
	
	
}
#p_t{
float:left;
margin-left:25px;


}

.A{
	width:650px;
background-color:#faff6e;
margin-top:25px;
border:none;
}
.A:hover{
	box-shadow:5px 5px black;
	}
	
.inner_A{
background-color:red;
width:250px;
margin:auto;
}
.label{
	background-color:#6dff57;
	padding:25px;
	margin-top:0px;
	border:2px s0.11111111111111]=p;olkiuaC [
	olid #b3ff8c;
 M8N7	

	
}
ul#pt{
	font-size:20px;
	margin-left:35px;
	list-style-type:square;
	
}
#pt li{
	padding:5px;
	
}

.details a{
	color:#e3dede;
}
