div{
	border:2px solid black;
	margin-bottom:20px;


	padding:5px;
	background-color:#010e63;
}
body{
	background-color:white;
	background-attachment:fixed;
	font-family:"Calibri";
}
ul.nav{
	
	padding:5px;
	list-style-type:none;
	
}

ul.nav li{
	padding:2px;
	background-color:#cfc1c0;
	width:150px;
	text-align:center;
	float:left;
	text-decoration:none;
	border:1px black solid;
	transition: background-color 1s;
	
}
ul.nav  a li{
	text-decoration:none;
	padding:5px;
	
	font-size:large;
	color:black;
}

ul.nav li:hover{
	background-color:#c0e6ed;
}
div#info{
	background-color:#339E66FF;
	border:none;
	margin:auto;
	transition:box-shadow 3s;
	width:80%;
	overflow:auto;
	
}
#info:hover{
	border:1px inset;
	border-left:none;
	box-shadow:10px 10px #918e86;
}

img#pic{
	width:150px;
	margin-left:35px;
	float:left;
	border-style:ridge;
	border-width:5px;
	
}
h1#name{
	color;#078282FF;
	font-family:"Calibri";
	display:innline;
	margin-left:220px;
	
} 
div.in{
float:right;
border:none;
margin-top:15px;
margin-right:25px;
width:100%;
height:auto;
overflow:auto;
background-color:#95DBE5FF;
padding:5px;
transition:2s;
border:8px white solid;

}
div.in:hover{
	border:1px solid white; 
	box-shadow:10px 10px;
}
ul#contact{
	float:right;
	list-style-type:none;
}

ul#contact li{
	margin:2px;
}
a{
	text-decoration:none;
}

ul#contact a:hover{
	color:red;
}
img.icon{
	padding-left:10px;
	height:24px;
	width:35px;
}
p.Obj{
	float:left;
	width:800px;
	margin-left:20px;
}	


table{
	background-color:white;
	
}
th{
	color:Black;
	background-color:#439dde;
	
}
th:hover{
	opacity:0.5;
}

.heading{
	background-color:#f5bc7a;
	width:350px;
	padding:10px;
}
div#quali{
	background-color:#010e63;
	padding-bottom:16px;
	width:80%;
	margin:auto;

	
}

p.Obj:hover{
	font-size:large

}

td:clg a:link, td.clg a:visited{
	color:black;
}
td.clg a:hover,td.clg a:active{
	color:red;
}


div#skill{
	width:80%;
	margin:auto;
}

ul.out{
	background:white;
	
	font-size:25px;
	margin:10px;
	padding:10px;
	width:75%px;
	
	}


ul.out li{
	margin-left:20px;
	margin-bottom:5px;
	padding:2px;
	font-weight:bold;
}

ul.in li{
	font-weight:normal;
	transition:background-color 1s;
}




ul.star{
float:right;
margin-right:200px;
list-style-type:none;
}

.checked {
  color: orange;
}

ul.in li:hover {
	background-color:#a458f5;
	padding:5px;
	margin-right:5px;
}
ul.in li:hover{
	display:block;
}

a.certi{
	text-decoration:none;
	color:black;
	
}

a.certi:hover{
	text-decoration-style:wavy;
	text-decoration:underline;
	color:white;
}


#rating{
color:white;
float:right;
}




.skill{
	display:inline-block;
	}


#internship{
	background-color:#beff4d;
	border:none;
	width:75%;
	padding:15px;
	
	margin:auto;
	
}


h2#intern{
	padding:15px;
	border-style:dotted;
	
}


.cmp{
	margin-left:250px;
	background-color:#e3dede;
	border:none;
	width:275px;
	margin-bottom:10px;
	transition:width 1s;
	
}
.cmp:hover{
	width:350px;
	
}

#R:hover{
	background-color:red;
	
}
#o:hover{
	background-color:orange;
}
#y:hover{
	background-color:yellow;
}
#g:hover{
	background-color:green;
}

.details{
	margin-left:20px;
	color:#e3dede;
	
}
.cmp:hover + .details{
color:white
}

