div{
	border:2px solid black;
	margin:2px;

	padding:5px;
	background-color:#010e63;
}
body{
	background-image:url("back.jpg");

	background-attachment:fixed;
}

div.out{
	
	margin:5px;
	overflow:auto;
}
h2.name{
	display:inline;
}

div.in{
	margin:1px;
	width:400px;
	background:white;
	align:center-left;
	overflow:auto;
	
}

div.in:hover + h2.mail{
	display:block;
}

img.img{
	width:100px;
	float:right;
}


h2{
	margin:10px;
	font-family:Times
	
}
h2.name a{
	text-decoration-style:dotted;
	transition:color 2s;
}

h2.name a:hover{
	color:red
}
	
h2.mail{
	background-color:white;
	width:350px;
	border:1px solid black;
	padding:5px;
	margin:10px;
	display:none;
	transition:display 20s;
}

div.Career_ob{
	border:1px solid black;
	padding:5px; 
	
	
}
div.Cin{
	padding:1px;
	background-color:white;
	border:1px solid white;
	opacity:0.7;
}


img.pic{
	border:5px solid black;
	float:right;
	display:block;
	width:200px;
	height:150px;
}


table{
	background-color:white;
	
}
th{
	color:Black;
	background-color:#439dde;
	
}
th:hover{
	opacity:0.5;
}

.heading{
	background-color:#f5bc7a;
	width:350px;
	padding:10px;
}
div.quali{
	background-color:#010e63;
	padding-bottom:16px;
	marh
}

p.obj:hover{
	font-size:large

}
td.clg a{
	color:blue;
}
td:clg a:active{
	color:green;
}
td.clg a:hover{
	color:red;
}




































